.main_content__top
  =link_to "Edit", root_path, class: "main_content__top__edit_button"
  .main_content__top__group_name
    sample
  .main_content__top__group_member
    Member: D, ohki, jan, shibata, hasegawa

