.flash {
  color: $text--main_color;
  text-align: center;
  padding: 5px 0;
  height: 28px;
  box-sizing: border-box;
  &__alert {
    background-color: red;
  }
  &__notice{
    background-color: primary;
  }
}
