.main_content__top {
  box-sizing: border-box;
  padding: 0 40px;
  background-color: white;
  height: $main_content__head--height;
  border-bottom: 1px solid #eeeeee;

  &__group_name {
	float: left;
	font-size: 20px;
	text-align: center;
	padding-top: 35px;
	color: $text--dark_color;
  }

  &__group_member {
	clear: both;
	font-size: 12px;
	color: $text--light_color;
  }

  &__edit_button {
	  float: right;
    color: $primary;
    text-decoration: none;
    margin: 28px 0 0;
    padding: 0 20px;
    line-height: 38px; // 設計値40px - ( border 1px * 2 )
    border: 1px solid $primary;
  }
}
