.main_content__chat_space {
  box-sizing: border-box;
  padding: 46px 0 0 40px;
  background-color: rgb(231, 231, 231);
  height: $main_content__chat_space--height;
  overflow: scroll;

  &__user_name {
    font-size: 16px;
    font-weight: bold;
    color: $chat_space__main_color;
    margin: 0 0 10px;
  }

  &__created_at {
    all: initial;
    font-size: 12px;
    color: $text--light_color;
    margin-left: 10px;
  }

  &__comment {
    font-size: 14px;
    color: $chat_space__main_color;
  }
} 