.side_bar__bottom {
  padding: 0 20px;
  &__group_name {
 	margin: 20px 0 5px;
	color: $text--main_color;
	font-size: 15px;
  }

  &__latest_message {
	color: $text--main_color;
	font-size: 11px;
  }
}
