.side_bar__top {
  height: 100px;
  background-color: #253141;
  padding: 35px 20px 0;
  box-sizing: border-box;

  &__user_name {
	  color: #FFFFFF;
    font-size: 16px;
	  font-weight: bold;
	  float: left;
  }

  &__icon_setting {
	  @include side_bar_icon_setting();
	  padding-right: 5px;
	}

  &__icon_new_message {
	  @include side_bar_icon_setting();
  }
}
